%script(type="text/javascript"
        src="https://www.google.com/jsapi")
%div{:id => "financials"}
  %div{:id => "fcontent"}
    %h3 Total Account Balance...
    %h3 Current Investments...
    %br
    %h3 Available Balance...
  %div{:id => "chart"}
  %div{:id => "investbutton"}
  = image_tag ('InvestmentB.png')
= javascript_include_tag 'graphing'

