%h2 Will the project appear immediately on the site after being sent?
%p
	No. After your project is submitted, it is given to our team of financial anaylsts to give it an investment grade.  This grade is based off of many different variables, but comes down to how much the investment is, the quality of your financial statements, and the quality of the company being funded.
%h2 What kind of companies are accepted to the site?
%p 
	We accept all kinds of companies.  From art dealers to grocery stores, fortune 500's to mom and pops, everyone is welcome.
%p
	%strong We do not accept charities
	Not that we do not like these projects or do not think are important: far from it. But this site focuses on for profit projects. However, if your project involves a social cause and is creative at the same time, we will possibly accept it.
%p
	%strong We do not finance projects, only companies.
	It's great if your company is working a specific project, interest rates are tied to the company itself so think of this as a loan to your business as a whole and not to an individual deliverable product. The company must pay back the loan in cash and not through goods or other deliverables.
%p If you have any questions, just send us an email #{mail_to t('site.email.contact'), "here"}.
