%h2 Why Crowdfunding?
%p
	It’s simple: crowdfunding provides the superior alternative to standard debt financing, providing better lending rates for businesses and investors. We can do this by connecting you with individuals who, depending on their interest in your company, can pool small and large investments into your business’s accepted fund. Most banks and lending institutions will require either: a large principle, a higher interest rate, loan collateral, or another provision if your business is small or emerging. Not every company has rock solid credit, but that doesn’t mean that your business should suffer needlessly for it.
%h2 What kind of requests are accepted?
%p 
	P2B Financial provides businesses with easy access to crowdfunding as long as certain disclosure obligations are met and the creditworthiness of your business is assured.
%p
	P2B Financial will not sponsor any financing requests that we deem to be too risky, and we also will make the requisite checks for fraud and other unscrupulous business practices. We require that the company Chief Financial Officer and Chief Executive Officer submit personal information and agree to our disclosure and anti-fraud measures.
%h2 What are my obligations as a lendee?
%p
	If your request is fully financed, you will receive the principal amount from P2B Financial, LLC. At this point, you are legally obligated to pay the debt in full, according to the original terms between your business and P2B Financial, LLC (the terms of your relationship to P2B Financial, LLC are specific and determined according to your request as interpreted by P2B Financial, LLC). While your business is technically receiving funding from hundreds of individual investors, P2B Financial provides the loan principle in entirety to you and does not involve these individuals in our (“our” refers to your hypothetical business and P2B Financial, LLC) business transactions for simplicity of accounting.
%p If you have any questions, just send us an email #{mail_to t('site.email.contact'), "here"}.
