%h2 How does collaborative funding work?
%h3 There is no magic formula
%p We believe that the best way to inspire people to support a project is offering excellent - and creative! - Rewards. Everyone loves limited editions, unique things and fun experiences (parties, candy, balloon!). Spend some time plotting and rewards creative people will be interested.
%h3 Is the funding opportunity all or nothing?
%p In Catharsis, a project is only funded if the proposed objective is reached by the deadline. If not, supporters get their money back. Why? To reduce the risk of everyone. That way, there is no expectation that a project is executed with an insufficient money - which also hamper the distribution of rewards.
%h3 Do I pay for this?
%p
  To put a project on the site, it costs nothing. Now, if (and only if) the project is successful, the catharsis is 7.5% of the amount collected. Have the means of payment (MoIP and Paypal) charge a fee that varies in general between 4% and 5% per transaction.
%h3 What kind of rules govern the intellectual property of projects?
%p You retain 100% ownership. We are left with nothing, not a thing.
%h3 Where does the money that finances the projects come from?
%p Well, at first, it is important that you bring people you know to support your project, your friends, family and people who are already a fan of his work. If they like, your project will spread to the communities that these people are part time and will attract more people. A good idea, communicated well, can spread quickly and widely.
%h3 Who should I ask to fund my project?
%p The key point here is to understand its scope. Think about your network of relationships and how your project and your rewards will be attractive to these people.
%h3 And I can raise more than my goal?
%p Absolutely! There is no maximum limit. The projects backers will accept until the last seconds of the deadline.
%h3 But my ideas are not super great or important. Can this site help me?
%p Of course! The project may be small, big, serious, funny, traditional, innovative. It is a project that you will finish in one week and need some money? Perfect, we are open arms.
%h3 What kinds of projects do well? What is the secret?
%p The first shot is the passion for the project. The transparency and the ability to run the project come soon after. But their ability to disseminate the project, especially the Internet, will be crucial.
