= content_for :title, t('.title')
= content_for :content_header do
	%h1 Frequently asked questions
.text
	%h2 How does P2B Financial Work?
	%p
		P2B Financial, LLC is an online crowdfunding platform that connects businesses to individual investors. Businesses seeking funding come to P2B Financial, LLC for superior financing alternatives to conventional methods.They post a request for financing that is subjected to P2B Financial’s accreditation process; P2B will only accept certain requests in order to ensure consistent returns for investors. Investors can peruse a list of requests, choose for themselves and just like that, invest the amount (up to $100,000.000 USD) desired.

	%h2 What is Crowdfunding?
	%p
		Crowdfunding is a type of financing for businesses that was made possible by the advent of internet business and e-commerce. Basically, businesses can request funds from the openly-sourced “crowd” of a medley of investors -from small time hobbyists to high rollers. The United States Government recently made a number of provisions to allow for ease of implementation, and P2B Financial is one of the first to offer this service to investors.

	%h2 Why P2B Financial?
	%p
		P2B Financial offers the simplest access to capital markets. We believe that the buying power should be rest with the individual and not with the broker. We’ll provide the tools you need to excel in investing and get the returns that you desire. P2B Financial will never make investing decisions on your behalf, nor will P2B Financial guarantee any investment.