= content_for :title, t('.title')
= content_for :content_header do
	%h1 Privacy Policy
.text
	%h2 Your privacy
	%p
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae neque non velit scelerisque porta quis sed eros. Morbi ut urna leo, eget hendrerit sem. Duis elementum lobortis felis id facilisis. Morbi convallis nibh velit. Sed placerat sem eu arcu consectetur ac rhoncus erat pretium. Proin non felis cursus tortor lobortis varius sit amet sit amet elit. Duis quis dignissim tellus. Donec at neque consequat massa vestibulum consequat nec vitae ipsum.